<% include layouts/header %>
    
   
<ul>
    <li>
     <a href="/auth/google/" class="googleplus"><i class="fa-google-plus"></i>Sign In with Your Google Account</a>
     </li>
 </ul>

<% include layouts/footer %>
